# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
csv_file = os.path.join('..', 'WeatherPy', 'output_data', 'cities.csv')

city_df = pd.read_csv(csv_file)
city_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,2082539,Merauke,ID,-8.4667,140.3333,80.78,85,74,15.08
1,4020109,Atuona,PF,-9.8000,-139.0333,80.10,74,18,15.14
2,4031574,Provideniya,RU,64.3833,-173.3000,-2.20,71,0,17.90
3,1507390,Dikson,RU,73.5069,80.5464,-24.97,79,0,6.02
4,2446796,Bilma,NE,18.6853,12.9164,74.79,17,74,8.66
...,...,...,...,...,...,...,...,...,...
544,3386213,Touros,BR,-5.1989,-35.4608,82.40,69,40,10.36
545,3137469,Sørland,NO,67.6670,12.6934,39.20,81,75,20.71
546,942701,Vrede,ZA,-27.4257,29.1659,51.73,76,0,3.18
547,4398730,Moberly,US,39.4184,-92.4382,57.13,33,1,12.66
548,3939761,Hualmay,PE,-11.0964,-77.6139,78.01,62,68,8.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
ideal_df = city_df[(city_df['Temperature'] >= 75) & (city_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Clouds'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
89,2336589,Jalingo,NG,8.8833,11.3667,84.22,15,2,4.34
144,2259655,Impfondo,CG,1.6381,18.0667,80.20,40,2,3.13
180,3430443,Necochea,AR,-38.5473,-58.7368,80.01,64,5,7.00
183,3547867,Manzanillo,CU,20.3433,-77.1167,87.53,41,1,7.34
224,4026082,Lázaro Cárdenas,MX,17.9583,-102.2000,81.84,61,2,7.78
238,4021858,Guerrero Negro,MX,27.9769,-114.0611,77.83,15,0,4.72
280,286245,Sur,OM,22.5667,59.5289,76.03,46,0,7.61
282,1255619,Srīvardhan,IN,18.0333,73.0167,77.09,39,0,5.86
289,2449893,Tessalit,ML,20.1986,1.0114,77.81,15,5,8.37
406,1259385,Port Blair,IN,11.6667,92.7500,76.75,67,0,5.50
440,1337612,Dhidhdhoo,MV,6.8833,73.1000,82.81,64,0,8.57
507,103630,Najrān,SA,17.4924,44.1277,77.00,23,0,4.61

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df['Hotel Name'] = ""
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
89,2336589,Jalingo,NG,8.8833,11.3667,84.22,15,2,4.34,
144,2259655,Impfondo,CG,1.6381,18.0667,80.20,40,2,3.13,
180,3430443,Necochea,AR,-38.5473,-58.7368,80.01,64,5,7.00,
183,3547867,Manzanillo,CU,20.3433,-77.1167,87.53,41,1,7.34,
224,4026082,Lázaro Cárdenas,MX,17.9583,-102.2000,81.84,61,2,7.78,
238,4021858,Guerrero Negro,MX,27.9769,-114.0611,77.83,15,0,4.72,
280,286245,Sur,OM,22.5667,59.5289,76.03,46,0,7.61,
282,1255619,Srīvardhan,IN,18.0333,73.0167,77.09,39,0,5.86,
289,2449893,Tessalit,ML,20.1986,1.0114,77.81,15,5,8.37,
406,1259385,Port Blair,IN,11.6667,92.7500,76.75,67,0,5.50,
440,1337612,Dhidhdhoo,MV,6.8833,73.1000,82.81,64,0,8.57,
507,103630,Najrān,SA,17.4924,44.1277,77.00,23,0,4.61,

In [9]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
89,2336589,Jalingo,NG,8.8833,11.3667,84.22,15,2,4.34,"Fast Track Hotel, Jalingo"
144,2259655,Impfondo,CG,1.6381,18.0667,80.20,40,2,3.13,Préfecture de la Likouala
180,3430443,Necochea,AR,-38.5473,-58.7368,80.01,64,5,7.00,Hostel La casa de al lado
183,3547867,Manzanillo,CU,20.3433,-77.1167,87.53,41,1,7.34,Hostal Reliance (Casa Julio & Mayra)
224,4026082,Lázaro Cárdenas,MX,17.9583,-102.2000,81.84,61,2,7.78,Hotel de Casablanca
238,4021858,Guerrero Negro,MX,27.9769,-114.0611,77.83,15,0,4.72,Hotel TerraSal
280,286245,Sur,OM,22.5667,59.5289,76.03,46,0,7.61,Sur Plaza Hotel
282,1255619,Srīvardhan,IN,18.0333,73.0167,77.09,39,0,5.86,ShriVilla
289,2449893,Tessalit,ML,20.1986,1.0114,77.81,15,5,8.37,NaN
406,1259385,Port Blair,IN,11.6667,92.7500,76.75,67,0,5.50,Hotel Reef Atlantis
440,1337612,Dhidhdhoo,MV,6.8833,73.1000,82.81,64,0,8.57,"DhidhdhooINN, BeachView"
507,103630,Najrān,SA,17.4924,44.1277,77.00,23,0,4.61,NaN

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))